
ul.books-container
{
    display: flex;
    margin-top: 3%;
}
li.book
{
    list-style-type: none;
    display:inline-block;
    width:400px;
    height: 390px;
    border-radius: 5px;
    border: white solid 5px;
    padding:10px;
    margin-left:5%;
}
.subtitleBook
{
    font-size:10px;
}
.headBook
{
    background-color: darkslategrey;
    border-radius: 15px;
}

.titleBook
{
    padding: 10px;
    color: whitesmoke;
    background-color: lightslategray;
}

.infoBook
{
    font-size: 12px;
}
.infoBook p
{
    margin-top: 3%;
}

ul.PaginationBook
{
    display: inline-block;
    font-size: 18px;
    margin-top: 3%;
}

li.page-item
{
    display:inline-block;
    list-style-type: none;
    margin: 10px;
    background-color: black;
    padding:5px;
    border-radius: 5px;
}
.headerName
{
    background-color: dimgrey;
}

.inputBook
{
    position: absolute;
    right: 3%;
    top: 5%;
    display: inline-block;
    margin-right:30px;
    width: 200px;

}

header
{
    height: 100px;
}

div.resultSearch
{
    z-index: 999;
    font-size:12px;
    position: absolute;
    background-color: whitesmoke;
    color:black;
    width:200px;
    height: 200px;
    overflow: scroll;
    overflow-x: auto;
    right: 5%;
    top: 10%;
    /*visibility: hidden;*/
}

.listResult li
{
    list-style-type: none;
}